.stats-panel {
    display: flex;
    gap: 20px;
}

.stats-panel__item {
    height: 105px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2B3768;
    border-radius: 10px;
    overflow: hidden;
}

.stats-panel__item-top {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    background: 
        linear-gradient(90deg, #1B3A8A 0%, #32439F 100%);


    > p {
        font-size: 16px;
        color: #9EAACC;
        text-align: center;
    }
}

.stats-panel__item-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > h4 {
        font-size: 25px;
        font-weight: 300;
    }
}

@media screen and (max-width: 400px) {
    .stats-panel {
        flex-direction: column;
    }

    .stats-panel__item {
        flex-direction: row;
    }

    .stats-panel__item-top {
        width: 40%;
        padding: 12px 20px;
        align-items: center;
    }

    .stats-panel__item-bottom {
        width: 60%;
        padding: 12px 20px;
        align-items: center;
    }
}