.json_popup__content {
    padding: 40px;
    max-width: 100vw;
    width: 620px;
    height: 400px;
    border-radius: 10px;
    background-color: #263163;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .json_popup__content__json {
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #0c1845;
        overflow: auto;
    }

    .json_popup__close_btn {
        position: absolute;
        top: 10px;
        right: 10px;

        > svg {
            width: 30px;
            height: 30px;
        }
    }
}