.aliases {
    .alias_wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .connection_icon {
        cursor: pointer;
        position: relative;
        .connection_icon__tooltip {
            position: absolute;
            height: 40px;
            width: 144px;
            background-color: #11316B;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-65px) translateY(10px);
            z-index: 1;
            .connection_icon__tooltip__arrow {
                z-index: 1;
                position: absolute;
                top:0px;
                transform: rotate(45deg) translateY(-5px);
                height: 10px;
                width: 10px;
                background-color: #11316B;
            }
        }
    }
    .short_alias {
        background-color: red;
        float: left;
        padding: 4px 8px;
        border-radius: 8px;
        background: radial-gradient(249.16% 182.78% at 0% 0%,rgb(22, 209, 214),rgb(39, 76, 255) 100%);
        position: relative;

        .short_alias__crown {
            position: absolute;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background-color: white;
            right: -5px;
            top: -5px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 6px;
                height: 6px;
            }
        }
    }
    .aliases__table {
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 850px) {
            overflow-x: auto;

            > :first-child {
                width: 850px;
            }
        }
    }

    .aliases__stats {
        margin-bottom: 20px;
    }
}