.aliases {
    .aliases__table {
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 850px) {
            overflow-x: auto;

            > :first-child {
                width: 850px;
            }
        }
    }
}