.block {
    .block__transactions {
        h2 {
            height: 45px;
            display: flex;
            align-items: center;
        }

        > div {
            border-radius: 10px;
            overflow: hidden;
        }

        td {
            width: initial !important;
        }

        th {
            white-space: unset;
        }
    }

    > :not(:first-child, :nth-child(2)) {
        margin-bottom: 25px;
    }

    .block__table__hash {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        display: block;

        @media screen and (max-width: 900px) {
            max-width: 300px;
        }

        @media screen and (max-width: 660px) {
            max-width: 150px;
        }

        @media screen and (max-width: 500px) {
            max-width: 65px;
        }
    }

    .block__info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .block__info__title {
            display: flex;
            column-gap: 25px;
            row-gap: 15px;
            align-items: center;
            flex-wrap: wrap;

            > div {
                display: flex;
                align-items: center;
                gap: 5px;
                
                > a:first-child svg {
                    transform: rotateY(180deg)
                }
            }

            p {
                color: #9eaacc;
                word-break: break-all;
                line-height: 1.4;
            }
        }

        .block__info__table {
            display: flex;

            .block__info__type {
                padding: 2px 12px;
                border-radius: 100px;
                font-size: 14px;

                &.type__pos {
                    background-color: #0c69fe;
                }

                &.type__pow {
                    background-color: #47effbb3;
                }
            }

            table {
                background-color: #234ee21a;
                border-collapse: collapse;
                border-spacing: 0;

                &:first-child {
                    flex-basis: 50%;
                }

                &:last-child {
                    flex-basis: 50%;
                }
            }
            
            table tbody {
                tr {
                    height: 38px;
                    width: 100%;
                    
                    td {
                        padding: 12px 20px;
                        font-size: 13px;
                        white-space: nowrap;
                        line-height: 1.4;
                    }

                    &:nth-child(2n + 1) {
                        background-color: #263163;
                    }

                    
                }
            }

            @media screen and (max-width: 760px) {
                flex-direction: column;

                table tbody tr td {
                    white-space: initial;

                    &:last-child {
                        width: 50%;    
                    }
                }
            }

            // @media screen and (max-width: 500px) {
            //     table tbody tr td:last-child {
            //         width: 40%;
            //     }
            // }
        }
    }
}