.blockchain {
	> :not(:first-child, :nth-child(2)) {
		margin-bottom: 25px;
	}

	.info__top__daemon {
		display: flex;
		gap: 25px;

		&_item {
			font-size: 14px;
			color: #9eaacc;
			display: flex;
			align-items: center;
			gap: 8px;

			.explorer__status {
				background: linear-gradient(90deg, #0c153a 0%, #091233 100%);
				padding: 4px 8px;
				border-radius: 50px;
				font-size: 12px;
				font-weight: 400;
				display: flex;
				align-items: center;
				gap: 5px;

				&.offline {
					.status__item {
						background-color: #ff6767;
					}
				}

				&.online {
					.status__item {
						background-color: #47effb;
					}
				}

				&.syncing {
					.status__item {
						background-color: #e6c54e;
					}
				}

				.status__item {
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}
		}

		@media screen and (max-width: 991px) {
			> p:not(:first-child) {
				display: none;
			}
		}
	}
}
