.transaction {
    > :not(:first-child, :nth-child(2)) {
        margin-bottom: 25px;
    }

    .transaction__outs__keys {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .transaction__info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            border-radius: 10px;
            overflow: hidden;

            td {
                padding: 12px 20px;
                font-size: 13px;
                line-height: 1.4;

                p {
                    font-size: 13px;
                    line-height: 1.4;
                }

                &:last-child {
                    word-break: break-all;
                }
            }

            tr {
                &:nth-child(2n) {
                    background-color: #234ee21a;
                }
    
                &:nth-child(2n + 1) {
                    background-color: #263163;
                }

                &.transaction__confirmation {
                    background-color: #0e5311;
                }
                &.transaction__unconfirmed {
                    background-color: #9b2d28;
                }

                &.transaction__extra_items td:last-child {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }
            }
        }
    }

    .transaction__table__wrapper {
        display: flex;
        flex-direction: column;
        gap: 13px;

        > :last-child {
            background-color: #234ee21a;
            border-radius: 10px;
            overflow: hidden;
        }

        table tbody tr td {
            width: auto;
        }

        .table__hash {
            font-size: 13px;
        }

        > :last-child {
            @media screen and (max-width: 800px) {
                overflow-x: auto;

                table {
                    width: 800px;
                }
            }  
        }
    }
}

.transaction__indexes__popup {
    padding: 40px;
    border-radius: 10px;
    background-color: #263163;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .popup__cross {
        position: absolute;
        top: 10px;
        right: 10px;

        > svg {
            height: 30px;
            width: 30px;
        }
    }
}