.input {
    padding: 8px 15px;
    background-color: #7694fe1a;
    border-radius: 5px;
    color: #9eaacc;
    font-size: 14px;

    &::placeholder {
        color: #9eaacc;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}