.popup_background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_blur {
    background: rgba(0, 0, 0, 0.5);
}

.popup_scroll {
    overflow: auto;
}

.popup_no_pointer {
    pointer-events: none;
}
